{
  "$schema": "https://json.schemastore.org/prettierrc",

  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "trailingComma": "all",
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "arrowParens": "always",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "endOfLine": "lf",

  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],

  "importOrder": ["^react$", "^next/(.*)$", "^@/(.*)$", "^[./]"],

  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,

  "tailwindFunctions": ["cn", "clsx", "cva", "tv"],

  "overrides": [
    {
      "files": "*.md",
      "options": {
        "proseWrap": "preserve"
      }
    }
  ]
}
