{
  "singleQuote": true,
  "printWidth": 120,

  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],

  "tailwindStylesheet": "./styles/globals.css",

  "importOrder": ["^@/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
